*.iml
*~

.idea/artifacts/
.idea/copyright/
.idea/dictionaries/
.idea/inspectionProfiles/
.idea/libraries/
.idea/misc.xml
.idea/modules.xml
.idea/runConfigurations.xml
.idea/uiDesigner.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/tasks.xml
